/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightblue;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

iframe {
  width: 100%;
}
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.gallery img {
  width: 30%;
  margin-bottom: 20px;
}
img,
	
video {
	
  width: 100%;
	
  height: auto;
	
  display: block;
	
}




